@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow: -moz-scrollbars-vertical;
  overflow-y: scroll;
}


:root {
  font-family: "Plus Jakarta Sans", sans-serif;
  color-scheme: dark;
}

.has-scrollbar::-webkit-scrollbar {
  width: 5px; /* for vertical scrollbar */
  height: 5px; /* for horizontal scrollbar */
}

body::-webkit-scrollbar { width: 20px; }

body::-webkit-scrollbar-track { background:rgb(15 23 42); }

body::-webkit-scrollbar-thumb {
  border: 5px solid rgb(15 23 42);
  background: hsla(0, 0%, 100%, 0.1);
  border-radius: 20px;
  box-shadow: inset 1px 1px 0 hsla(0, 0%, 100%, 0.11),
              inset -1px -1px 0 hsla(0, 0%, 100%, 0.11);
}

body::-webkit-scrollbar-thumb:hover { background: hsla(0, 0%, 100%, 0.15); }

body::-webkit-scrollbar-button { height: 60px; }

a.portofolioCard:hover .img-preview{
  --tw-scale-x: 1.5;
  --tw-scale-y: 1.5;
  transform: translate(0, 0) rotate(0) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  border-radius: 0.5rem;
}

a.portofolioCard:hover .icon-wrapper
{
  display: block;
}